name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v2

       - name: Set up JDK 18
         uses: actions/setup-java@v1
         with:
           java-version: 18
           distribution: 'oracle'

       - name: Build project with Maven
         run: mvn -B package --file pom.xml
         
       - name: Stage built package
         run: |
              mkdir build
              ls -l target/
              cp target/*.jar build    
          
       - name: Upload artifact
         uses: actions/upload-artifact@v1
         with:
            name: Build
            path: build/

  docker:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs: bot
    steps:
    
      - uses: actions/checkout@v2
    
      - name: Download build
        uses: actions/download-artifact@master
        with:
          name: Build
          path: build/

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: deutsche-squad-gemeinschaft
          password: ${{ secrets.GITHUB_TOKEN }}    

      - name: Build
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true
          context: .
          file: docker/Dockerfile
          tags: |
            ghcr.io/deutsche-squad-gemeinschaft/mapvote-bot/app:latest
            ghcr.io/deutsche-squad-gemeinschaft/mapvote-bot/app:${{ github.sha }}    
